.tool-item {
  display: flex;
  font-size: 17px;
  align-items: center;
  padding: 8px 0;
  background-color: beige;
  .checkbox {
    flex-basis: 30px;
    width: 15px;
    height: 15px;
  }
  .text {
    flex: 1;
  }
  .delete_button {
    flex-basis: 50px;
    background-color: #61dafb;
    border-radius: 10px;
    border-color: #61dafb;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
}
